.sign-up-form {
  height: 100%;
  width: 100%;
  max-width: 330px;
  margin: auto;
  padding: 15px;
  margin-top: 5%;
  text-align: center;
}

.account{
  padding-top: 10px;
}

.navbar{
  padding-right: 500px;
}

.contact-form{
  height: 100%;
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding: 15px;
  margin-top: 5%;
  text-align: center;
}

.garage-div {
  background-image: url('./components/images/garagepic.jpeg'); 
  background-color: #cccccc; /* Used if the image is unavailable */
  height: 1000px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}

.create-vehicle {
  left: 30px;
  display: flex;
  margin-top: 12%;
  padding-top: 1%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 200px;
}


#welcome {
text-align: center;
}

#vehicle-profile {
  background-color: rgb(255, 255, 255);
  left: 70%;
  height: 400px;
  width: 200px;
  margin-top: -26%;
  padding: 5px;
  border-style: double;
}